# Editor swapfiles
*~

# Ansible stuff
*.retry
.vaultpw

# Vagrant / VirtualBox stuff
/.vagrant
*.log

# Imported certificate for the nginx container
docker/import-certificates/epos-msl.key
docker/import-certificates/epos-msl.pem
