[program:laravel-worker]
process_name=%(program_name)s_%(process_num)02d
command=/usr/bin/php8.0 /var/www/msl_api/artisan queue:work  --rest=1 --tries=3 --timeout=300
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user={{ msl_api_user }}
numprocs=1
redirect_stderr=true
stdout_logfile={{ msl_api_worker_logdir }}/worker.log
stopwaitsecs=3600
