---
# copyright Utrecht University

- name: Download Zabbix repo package
  ansible.builtin.get_url:
    url: "{{ zabbix_agent.url }}/{{ zabbix_agent.filename }}"
    dest: '{{ zabbix_agent.deb_dest_dir }}/{{ zabbix_agent.filename }}'
    checksum: '{{ zabbix_agent.checksum }}'


- name: Install Zabbix repo from downloaded package
  ansible.builtin.package:
    deb: '{{ zabbix_agent.deb_dest_dir }}/{{ zabbix_agent.filename }}'
    state: present


# Otherwise it would install the older Ubuntu version of the zabbix-agent
# package.
- name: Pin Zabbix agent package to Zabbix repository
  ansible.builtin.copy:
    src: zabbix-agent.preferences
    dest: /etc/apt/preferences.d/99zabbix-agent
    owner: root
    group: root
    mode: 0644


- name: Install Zabbix agent"
  ansible.builtin.apt:
    name: "zabbix-agent"
    state: present
    update_cache: true


- name: Enable the Zabbix agent service
  ansible.builtin.service:
    name: zabbix-agent
    enabled: true
    use: service


- name: Generate Zabbix agent PSK
  ansible.builtin.shell: openssl rand -hex 256 > /etc/zabbix/zabbix_agentd.psk
    creates=/etc/zabbix/zabbix_agentd.psk
  when: not ansible_check_mode


- name: Ensure right file ownership on zabbix_agentd.psk
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_agentd.psk
    owner: zabbix
    group: zabbix
    mode: 0600


- name: Configure Zabbix agent
  ansible.builtin.template:
    src: zabbix_agentd.conf.j2
    dest: /etc/zabbix/zabbix_agentd.conf
    owner: zabbix
    group: zabbix
    mode: 0600
  notify: Restart Zabbix agent
