---
# copyright Utrecht University

- name: Include distribution version specific variables for Zabbix (EL)
  ansible.builtin.include_vars: "rh{{ ansible_distribution_major_version }}.yml"
  when: ansible_os_family == 'RedHat'


- name: Include distribution version specific variables for Zabbix (Ubuntu)
  ansible.builtin.include_vars: "ubuntu.yml"
  when: ansible_os_family == 'Debian'


- name: Remove old zabbix_agentd.userparams.conf from zabbix_agentd.d
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_agentd.d/zabbix_agentd.userparams.conf
    state: absent


- name: Check if legacy zabbix-agent systemd service is active
  # noqa command-instead-of-module
  ansible.builtin.command: "systemctl list-unit-files zabbix-agent"
  register: zabbix_system_zabbix_agent_service_exists
  failed_when: zabbix_system_zabbix_agent_service_exists.rc not in [0, 1]
  changed_when: false


- name: Disable and stop legacy zabbix-agent service
  ansible.builtin.service:
    name: zabbix-agent
    enabled: false
    state: stopped
  when: '"0 unit files listed." not in zabbix_system_zabbix_agent_service_exists.stdout_lines'


- name: Install Zabbix-agent2 package for Debian family
  ansible.builtin.include_tasks: install-debian.yml
  when: ansible_os_family == 'Debian'


- name: Install Zabbix-agent2 package for RedHat family
  ansible.builtin.include_tasks: install-redhat.yml
  when: ansible_os_family == 'RedHat'


- name: Enable the Zabbix-agent2 service
  ansible.builtin.service:
    name: zabbix-agent2
    enabled: true
    use: service


- name: Allow Zabbix agent to start
  community.general.selinux_permissive:
    name: zabbix_agent_t
    permissive: true
  when: ansible_os_family == 'RedHat' and ansible_selinux.status == "enabled"


- name: Allow Zabbix agent to sudo
  ansible.posix.seboolean:
    name: zabbix_run_sudo
    state: true
    persistent: true
  when: ansible_os_family == 'RedHat' and ansible_selinux.status == "enabled"


- name: Generate Zabbix agent PSK
  ansible.builtin.shell: openssl rand -hex 256 > /etc/zabbix/zabbix_agentd.psk
  args:
    creates: /etc/zabbix/zabbix_agentd.psk
  when: not ansible_check_mode


- name: Ensure right file ownership on zabbix_agentd.psk
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_agentd.psk
    owner: zabbix
    group: zabbix
    mode: '0600'


- name: Configure Zabbix agent2
  ansible.builtin.template:
    src: zabbix_agent2.conf.j2
    dest: /etc/zabbix/zabbix_agent2.conf
    owner: zabbix
    group: zabbix
    mode: '0600'
  notify: Restart Zabbix agent2


- name: Configure Zabbix AppArmor profile
  ansible.builtin.template:
    src: usr.sbin.zabbix_agentd.j2
    dest: /etc/apparmor.d/usr.sbin.zabbix_agentd
    owner: root
    group: root
    mode: '0644'
  register: zabbix_apparmor
  when: ansible_os_family == 'Debian'


- name: Put Zabbix agent in AppArmor complain mode
  ansible.builtin.shell: |
    aa-complain /usr/sbin/zabbix_agentd
    apparmor_parser -r /etc/apparmor.d/usr.sbin.zabbix_agentd
  notify: Restart Zabbix agent2
  changed_when: true
  when: ansible_os_family == 'Debian' and zabbix_apparmor.changed
